<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner surprise bag settings</title>
</head>
<body>
    <h1>Owner surprise bag settings page</h1>
    <form method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%= locals.bagDetails.name %>">
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" id="address" name="address" value="<%= locals.bagDetails.address %>">
        </div>
        <div>
            <label for="latitude">Latitude</label>
            <input type="number" id="latitude" name="latitude" value="<%= locals.bagDetails.latitude %>">
        </div>
        <div>
            <label for="longitude">Longitude</label>
            <input type="number" id="longitude" name="longitude" value="<%= locals.bagDetails.longitude %>">
        </div>
        <div>
            <label for="descritpion">Descritpion</label>
            <input type="text" id="descritpion" name="descritpion" value="<%= locals.bagDetails.description %>">
        </div>
        <div>
            <label for="ingredients">Ingredients & Allergens</label>
            <input type="text" id="ingredients" name="ingredients" value="<%= locals.bagDetails.ingredients %>">
        </div>
        <div>
            <label for="type">Meal Type</label>
            <input type="text" id="type" name="type" value="<%= locals.bagDetails.type %>">
        </div>
        <div>
            <label for="originalPrice">Orginal Price</label>
            <input type="number" id="originalPrice" name="originalPrice" value="<%= locals.bagDetails.originalPrice %>">
        </div>
        <div>
            <label for="discountPrice">Discount Price</label>
            <input type="number" id="discountPrice" name="discountPrice" value="<%= locals.bagDetails.discountPrice %>">
        </div>
        <div>
            <label for="weight">Weight</label>
            <input type="number" id="weight" name="weight" value="<%= locals.bagDetails.weight %>">
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" value="<%= locals.bagDetails.quantity %>">
        </div>
        <div>
            <label for="enabled">Enabled</label>
            <input type="checkbox" id="enabled" name="enabled" <%= locals.bagDetails.enabled ? "checked" : "" %> value=true>
        </div>
        <div>
            <button>Update Surprise Bag</button>
        </div>
    </form>
    <div>
        <button onClick="window.location.href='/';">return to homepage</button>
    </div>
</body>
</html>