<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    <h1>This is buyer payment page</h1>
    <div> <%= locals.bagDetails.name %> </div>
    <div> <%= locals.bagDetails.address %> </div>
    <form method="POST">
        <div>
            <input type="text" id="bagId" name="bagId" value="<%= locals.bagDetails.id %>" hidden>
        </div>
        <div>
            <input type="text" id="buyerId" name="buyerId" value="<%= locals.buyerId %>" hidden>
        </div>
        <div>
            <input type="text" id="activationId" name="activationId" value="<%= locals.activationId %>" hidden>
        </div>
        <div>
            <button id="confirm-purchase">Confirm purchase</button>
        </div>
    </form>
    <div>
        <button onClick="window.location.href='/buyerBags';">View my bags</button>
    </div>
    <div>
        <button onClick="window.location.href='/';">return to homepage</button>
    </div>
</body>
</html>